<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Crie uma Filosofia nova:</h2>
  </header>
  <form>
    <label for="filosofia">
      <h3>Mensagem:</h3>
    </label>
    <input
      type="textarea"
      class="input"
      id="filosofia"
      name="filosofia"
      placeholder="Digite sua sabedoria"
    />
    <label for="autor">
      <h3>Criador da Frase:</h3>
    </label>
    <input
      type="textarea"
      class="input"
      id="autor"
      name="autor"
      placeholder="Quem és tú?"
    />
    <label for="modelo">Selecione o modelo do card:</label>
    <div class="radius-container">
      <label for="modelo1">
        <input type="radio" id="modelo1" value="modelo1" name="modelo-card" />
        <div class="custom-radio">
          <span></span>
        </div>
        <span>Modelo 1</span>
      </label>
      <label for="modelo2">
        <input type="radio" id="modelo2" value="modelo2" name="modelo-card" />
        <div class="custom-radio">
          <span></span>
        </div>
        <span>Modelo 2</span>
      </label>
      <label for="modelo3">
        <input type="radio" id="modelo3" value="modelo3" name="modelo-card" />
        <div class="custom-radio">
          <span></span>
        </div>
        <span>Modelo 3</span>
      </label>
    </div>
    <div class="container-radio">
      <div class="radio-modelo">
        <div class="modelo modelo1 ff-roboto-mono">
          <p class="sobreposto autoria"><b>- Autor</b></p>
          <p class="sobreposto conteudo">"Aqui vai a mensagem"</p>
          <img
            style="width: 300px; height: 300px"
            src="../../../../assets/modelo1.webp"
            alt="pergaminho"
          />
        </div>
      </div>
      <div class="radio-modelo" style="display: none;">
        <div class="modelo modelo1 ff-roboto-mono">
          <p class="sobreposto autoria"><b>- Autor</b></p>
          <p class="sobreposto conteudo">"Aqui vai a mensagem"</p>
          <img
            style="width: 300px; height: 300px"
            src="../../../../assets/modelo1.webp"
            alt="pergaminho"
          />
        </div>
      </div>

      <div class="radio-modelo" style="display: none;">
        <div class="modelo modelo1 ff-roboto-mono">
          <p class="sobreposto autoria"><b>- Autor</b></p>
          <p class="sobreposto conteudo">"Aqui vai a mensagem"</p>
          <img
            style="width: 300px; height: 300px"
            src="../../../../assets/modelo1.webp"
            alt="pergaminho"
          />
        </div>
      </div>
    </div>
    <div class="acoes">
      <button class="botao">Salvar</button>
      <button class="botao">Cancelar</button>
    </div>
  </form>
</section>
