.cabecalho {
  background: url(https://i.pinimg.com/originals/fc/df/12/fcdf12ab3c0e48d7908ffc9a78fe5c93.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho .logo {
  width: 50%;
  height: 150px;
  padding: 2rem 3rem;
}

.cabecalho .logo img {
  width: 35%;
  border-radius: 100%;
  max-width: 350px;
  margin-bottom: 2rem;
}

.main-logo {
  width: 14%;
  border-radius: 100%;
  max-width: 350px;
  margin-bottom: 2rem;
  border: #ffffff 2px solid;
  margin-top: -130px;
  margin-left: 50px;
}

.title {
  margin-left: 18%;
}

.main {
  font-size: 34px;
}

.sub {
  font-size: 18px;
}	

.cabecalho p {
  font-size: 22px;
  color: #ffffff;
}

@media (max-width: 576px) {
  .cabecalho .logo {
    padding: 2rem;
  }
  .cabecalho p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .cabecalho .logo {
    width: 90%;
  }
  .cabecalho .imagem {
    display: none;
  }
}
