<header class="ff-inter">
  <div class="cabecalho">
    <div class="logo"></div>
  </div>
  <div>
    <p class="main title">NotePad Sellen</p>
    <p class="sub title">Tell me a wisdom word!</p>
    <img
      class="main-logo"
      src="https://lh3.googleusercontent.com/u/0/drive-viewer/AAOQEORVXyifN6oQda3Aw9iyzF5GXzehHrKFqtiRmqjYrD-gxY3IHuOohSheX2mwwU3mOaW3ZXiX_8wMokOEdac_XwhHfBC2=w1920-h932"
      alt="main logo"
    />
  </div>
  <!-- <img src="../../../assets/imagens/cabecalho.png" alt="cabecalho img"> -->
</header>
